In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4,5])
print(s)
print(type(s))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
s2 = pd.Series([33,34,35,36], index=["Harry", "John", "Priyanshu", "Jinsee"])
print(s2)
print("Priyanshu: ",s2["Priyanshu"])

Harry        33
John         34
Priyanshu    35
Jinsee       36
dtype: int64
Priyanshu:  35

In [4]:
data = {
    "name": ["Priyanshu", "Jinsee", "John"],
    "age":[20, 15, 21],
    "city": ["Junagadh", "Junagadh", "Ahmedabad"]
}

In [5]:
df = pd.DataFrame(data)

In [6]:
df.head()

        name  age       city
0  Priyanshu   20   Junagadh
1     Jinsee   15   Junagadh
2       John   21  Ahmedabad

In [7]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
df.columns

Index(['name', 'age', 'city'], dtype='object')